
.app_header {
  /* width: 80%; */
  display: flex;
  justify-content: space-around;
}
.app_header > input{
  background: whitesmoke;
  height: 30px;
  margin-top: 30px;
  border-radius: 4px;
  outline: none;
  border: none;
}

.app_body{
  margin: auto;
  justify-content: center;
  /* justify-items: center; */
  display: grid;
  width: 82%;
  grid-template-columns: repeat(auto-fit,minmax(300px, 0.3fr));
  gap: 15px;
}